body {
	font-family: 'Brandon Grotesque', 'brandon-grotesque', 'Helvetica', 'Arial', sans-serif;
	color: #222;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Brandon Grotesque', 'brandon-grotesque', 'Helvetica', 'Arial', sans-serif;
}

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	color: #5dafdf;
}

.cf:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

#map-container {
	position:absolute;
	background: #eee;
	top: 3.4em;
	left: 0;
	right: 0;
	bottom: 0;
}

#map {
	height: 100%;
	width: 100%;
}

#map .leaflet-control-attribution a { color: #000; }

#bubble-butt {
	z-index:1000;
	position: absolute;
	-moz-transition: 0.2s all;
	-webkit-transition: 0.2s all;
	left: 50%;
	top: 50%;
}

#bubble-butt:hover {
	width: 200px;
	height: 200px;
	-moz-transform: translate(-50px, -100px);
	-webkit-transform: translate(-50px, -100px);
}

.instagram-marker {
	position: absolute;
}

.instagram-marker .photo img {
	display: block;
	width: 50px;
	height: 50px;
}

.instagram-marker.plus::after,
.instagram-marker.minus::after {
	position:absolute;
	top:0;bottom:0;right:0;left:0;
	background:rgba(0,0,0,0.2);
	color:#fff;
	font-weight: bold;
	text-align: center;
	font-size: 3em;
	line-height: 50px;
}

.instagram-marker.plus::after {
	content: '+';
}

.instagram-marker.minus::after {
	content: '−';
}

.instagram-item .meta {
	display: table;
}

.instagram-item .meta img {
	padding-top: 2px;
}

.instagram-item .meta span {
	display: table-cell;
	vertical-align: middle;
	padding-left: 8px;
}

.instagram-item .meta a:hover {
	color: #ccc
}

.leaflet-photomarker-container .leaflet-photomarker-img {
/*	border: solid white 2px;
	background-color: white;*/
	-moz-transition: 0.2s all;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.leaflet-photomarker-img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}


#popup-container {
	position:absolute;
	z-index: 1000;
	top: 10%;
	left: 10%;
	right: 10%;
	background: #fff;
	display: none;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
	color: #555;
}

#popup-container a {
	color: #333;
}

#popup-container .close-popup {
	position: absolute;
	top: 0.3em;
	right: 0.3em;
	font-size:3em;
	line-height:1;
}

.building-item {}

.building-item .item-gallery {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	font-family: AdobeBlank;
	background: #222;
}

.building-item .item-info {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

.building-item .item-gallery-view {
	text-align: center;
	height: 30em;
	line-height: 30em;
	overflow: hidden;
}

.building-item .item-gallery-view img {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.building-item .item-gallery-thumbs {
	margin-top: 3px;
	margin-left: 3px;
	text-align: center;
}

.building-item .item-gallery-thumbs img {
	max-height:60px;
	display: inline-block;
	vertical-align: top;
	margin-right:3px;
	margin-bottom:3px;
}


.collection-item {
	text-align: center;
	padding: 1em;
}

.colection-item-photo {
	display: inline-block;
	max-width: 30em;
	max-height: 20em;
}

.street-item {
	padding: 2em;
	background: #5dafdf;
	color: #fff;
	font-size: 1.4em;
}

.street-item h2 {
	margin: 0;
	font-size: 2em;
}

.street-item-description {
	font-size: 0.8em;
}

.street-item-history {
	margin:1em 0;
	padding:0;
	list-style-type:none;
	font-size: 1.1em;
}

.street-item-history strong {
	display: inline-block;
	min-width: 3em;
	font-size: 1.6em;
}

#svg-streets path {
  fill: none;
  stroke: rgba(204,0,0, 0.2);
  cursor: pointer;
}

#svg-streets path:hover {
  stroke: rgba(204,0,0, 1);
}

#svg-streets .highway-residential { stroke-width: 1px; }
#svg-streets .highway-primary { stroke-width: 4px; }
#svg-streets .highway-secondary { stroke-width: 3px; }
#svg-streets .highway-tertiary { stroke-width: 2px; }

#svg-streets.zoom-16 .highway-primary {stroke-width: 3px;}
#svg-streets.zoom-17 .highway-primary {stroke-width: 2px;}
#svg-streets.zoom-17 .highway-secondary {stroke-width: 1px;}
#svg-streets.zoom-17 .highway-tertiary {stroke-width: 0.8px;}
#svg-streets.zoom-18 .highway-primary {stroke-width: 1px;}
#svg-streets.zoom-18 .highway-secondary {stroke-width: 1px;}
#svg-streets.zoom-18 .highway-tertiary {stroke-width: 0.7px;}

#nav-layers {
	float: right;
	margin-top: 0.5em;
}

#layers {
	position:absolute;
	z-index: 2000;
	background: #222;
	color: #ccc;
	right: 0;
	top: 3em;
	display: none;
}

#layers .layer {
	cursor: pointer;
	padding: 0.5em 1.5em;
	font-size:0.8em;
}

#layers .layer:hover,
#layers .layer.active:hover {
	background: #fff;
	color: #222;
}

#layers .layer.active {
	background: #c00;
	color: #222;
}

#layers .layer h3, 
#layers .layer h4,
#layers .layer p {
	margin: 0;
}

#nav-3d {
	float: right;
	margin-top: 0.5em;
	padding: 0 0.5em;
}


/* ICONS */

.icon {
	background-image: url('../img/nav/sprite.png');
	background-repeat: none;
	display: inline-block;
	vertical-align: middle;
}

.icon-right {
	margin-left: 1em;
}

.icon-left {
	margin-right: 1em;
}

.icon-search {
	background-position: -15px -67px;
	width: 25px;
	height: 25px;
}

.icon-search:hover, a:hover .icon-search {
	background-position: -15px -13px;
}

.icon-check {
	background-position: -73px -72px;
	width: 20px;
	height: 15px;
}

.icon-check:hover, a:hover .icon-check {
	background-position: -73px -18px;
}

.icon-list {
	background-position: -126px -67px;
	width: 26px;
	height: 25px;
}

.icon-list:hover, a:hover .icon-list {
	background-position: -126px -13px;
}

.icon-arrow {
	background-position: -179px -71px;
	width: 16px;
	height: 16px;
}

.icon-arrow:hover, a:hover .icon-arrow {
	background-position: -179px -18px;
}