#header {
	background: #fff;
	border-bottom: 1px solid #ddd;
	font-family: AdobeBlank;
}

#nav li, #header h1 {
	font-family: 'brandon-grotesque', 'Brandon Grotesque', 'helvetica', 'arial', sans-serif;
}

#mic-logo {
	height: 35px;
}

#header.page-header {
}

#header h1 {
	display: inline-block;
	margin: 0 0 0 1em;
	vertical-align: middle;
}

#header.page-header h1 {
	margin-left: 0;
}

#header.page-header .container {
	padding: 0 1em;
}

#header.page-header #nav {
	font-size:1em;
	margin-left: 1em;
}

#nav-time {
	float: left;
	font-size: 1.2em;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav {
	margin: 0 0 0 2em;
	padding: 0;
	font-size: 1.2em;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}

#nav li {
	display: inline-block;
	border-right: 1px solid #ddd;
}

#nav li:last-child {
	border-right: none;
}

#nav a {
	padding: 0.6em 1em 0.6em 1em;
	display: block;
	color: #555555;
}

#nav a:hover {
	color: #5dafdf;
}

#nav a.dropdown:hover {
	background: #111;
}

#search {
	padding: 0.4em 1em 0.4em 1em;
}

#search input {
	border: none;
	border-bottom: 1px solid #ddd;
	font-family: 'brandon-grotesque', 'Brandon Grotesque', 'helvetica', 'arial', sans-serif;
	font-size: 1.1em;
}

#nav-time {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

#nav-time li {
	display: inline-block;
	border-bottom: 5px solid #dedede;
	padding: 10px 0;
	width: 82px;
}

#nav-time li + li {
	border-color: #bababa;
}
#nav-time li + li + li {
	border-color: #969696;
}
#nav-time li + li + li + li {
	border-color: #666666;
}

#nav-time li.selected {
	border-bottom: 8px solid #e9d325;
	padding-bottom: 7px;
	/*border-color: #e9d325;*/
}

#nav-time a {
	margin-left: -22px;
	padding: 10px 60px 10px 0;
}

#nav-time > li:first-child a {
	margin-left: 0;
}

/* ICONS */

.icon {
	background-image: url('../img/nav/sprite.png');
	background-repeat: none;
	display: inline-block;
	vertical-align: middle;
}

.icon-right {
	margin-left: 1em;
}

.icon-left {
	margin-right: 1em;
}

.icon-search {
	background-position: -15px -67px;
	width: 25px;
	height: 25px;
}

.icon-search:hover, a:hover .icon-search {
	background-position: -15px -13px;
}

.icon-check {
	background-position: -73px -72px;
	width: 20px;
	height: 15px;
}

.icon-check:hover, a:hover .icon-check {
	background-position: -73px -18px;
}

.icon-list {
	background-position: -126px -67px;
	width: 26px;
	height: 25px;
}

.icon-list:hover, a:hover .icon-list {
	background-position: -126px -13px;
}

.icon-arrow {
	background-position: -179px -71px;
	width: 16px;
	height: 16px;
}

.icon-arrow:hover, a:hover .icon-arrow {
	background-position: -179px -18px;
}

#nav-3d.disabled {
	pointer-events: none;
	text-decoration: line-through;
	color: #aaa;
}