[submodule "modules/collection"]
	path = modules/collection
	url = https://github.com/madeincluj/collection.git
[submodule "modules/street-names"]
	path = modules/street-names
	url = https://github.com/madeincluj/street-names.git
[submodule "modules/historical-maps"]
	path = modules/historical-maps
	url = https://github.com/madeincluj/historical-maps.git
