<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Despre proiect &middot; madeincluj</title>
	<% include includes/head.html %>
</head>
<body>

	<% include includes/header.html %>

	<div id='content'>	
		<div class='container'>
			<div class='collections-index grid'>
				<div class='u'>
					<a href='fortepan/'>Colecția Fortepan</a>
				</div>
				<div class='u'>
					<a href='arhiva/'>Arhiva de fotografii istorice</a>
				</div>
			</div>
		</div>
	</div>

	<% include includes/footer.html %>
</body>
</html>