<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Despre proiect &middot; madeincluj</title>
	<% include includes/head.html %>
</head>
<body>

	<% include includes/header.html %>

	<div id='content'>
		<div class='about-hero grid'>
			
			<div class='container'>

				<div class='u u-1-2'>
					<h2><a href='http://madeincluj.org'>madeincluj</a></h2>
					<p>este o enciclopedie interactivă care cuprinde obiective arhitecturale din Cluj-Napoca. Fiecare punct de interes inclus este reprezentativ pentru perioada în care a fost construit. Proiectul are dublu scop de informare asupra proiectelor existente și semnalare a propunerilor noi.</p>
				</div>
				<div class='u u-1-2'>
					<h2><a href='http://plusminus.org.ro'>plusminus</a></h2>
					<p>este un think-tank care funcționează ca un laborator deschis în spațiul public cu scopul de a realiza cît mai puternic conexiunea dintre oameni, arhitectură și oraș. Conturăm idei &mdash; obiecte, instrumente și strategii &mdash; de transmitere a informației specializate de arhitectură și urbanism către publicul larg și urmărim extinderea dezbaterilor despre evoluția orașelor românești în cît mai multe comunități.</p>
				</div>
			</div>
		</div>

		<div class='container'>
			<div class='team grid'>
				<div class='u u-1-5'>
					<h3>coordonatori</h3>
					<ul>
						<li>Tiberiu Bucșa
						<li>Ina Stoian
					</ul>
				</div>
				<div class='u u-1-5'>
					<h3>echipa</h3>
					<ul>
						<li><a href='http://danburzo.ro'>Dan Burzo</a>
						<li><a href='http://github.com/cronco'>Mihai Chereji</a>
						<li>Dana Cucoreanu
						<li><a href='http://daciangroza.ro'>Dacian Groza</a>
						<li>Előd György
						<li>Roxana Pop
						<li><a href='http://github.com/adriana-saroz'>Adriana Saroz</a>
						<li>Beáta Szabó
						<li>Ágnes Szörcsey
						<li>Krisztina Tímár
					</ul>
				</div>
				<div class='u u-1-5'>				
					<h3>consultanți</h3>
					<ul>
						<li>Lajos Asztalos
						<li>dr. arh. Vasile Mitrea
						<li>conf. dr. arh. Virgil Pop
					</ul>
				</div>
				<div class='u u-1-5'>
					<h3>mulțumiri</h3>
					<ul>
						<li>Klági Budai
						<li>Árpád Debreceni
						<li>Cristian Dragoș
						<li>Ștefana Dunca
						<li>Andrei Grigore
						<li>Vlad Moldovan
						<li>Adrian Munteanu
						<li>Alexander Nistor
						<li>Ada Serestély
						<li>Lucreția Scridon
						<li>Adrian Suciu
						<li>Krisztián Világos
					</ul>
				</div>
				<div class='u u-1-5'>				
					<h3>inițiatorii proiectului</h3>
					<ul>
						<li>Corina Bucea
						<li>Mihai Goțiu
						<li>Benjamin Kohl
						<li>Norbert Petrovici
						<li>Mihai Pop
						<li>Miklós Szilárd
						<li>Dana Vais
					</ul>
				</div>
			</div>
		</div>
	</div>

	<% include includes/footer.html %>
</body>
</html>