<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Despre proiect &middot; madeincluj</title>
	<% include includes/head.html %>
</head>
<body>

	<% include includes/header.html %>

	<div id='content'>	
		<div class='container'>
			<div class='obiective-index grid'>
				<div class='u'>
					<a href='cladiri/'>Clădiri din perioada 1960-1990</a>
				</div>

				<div class='u'>
					<a href='monumente/'>Monumente</a>
				</div>

				<div class='u'>
					<a href='strazi/'>Istoria străzilor</a>
				</div>
				<div class='u'>
					<a href='colectie/'>Colecții de fotografie</a>
				</div>
			</div>
		</div>
	</div>

	<% include includes/footer.html %>
</body>
</html>