<div id='footer'>
	<div class='container'>
		Un proiect finanțat cu sprijinul:	 
		<a href='http://afcn.ro/'><img src='<%=root%>/img/parteneri/gri-50/afcn.png'/></a>
		<a href='http://www.oartransilvania.ro/'><img src='<%=root%>/img/parteneri/gri-50/oar.png'/></a>
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45313977-1', 'madeincluj.org');
  ga('send', 'pageview');

</script>