<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>madeincluj</title>

	<% include includes/head.html %>
</head>
<body>
	<% include includes/header.html %>

	<div id='content'>

		<div class='building-gallery'>
			<div class='building-gallery-view' style='background-image:url(<%= root + '/' + building.photos[0].original %>)'>
				<h1><%= building.name %></h1>
			</div>
			<div class='container'>
				<ul class='building-gallery-thumbs'>
				<% for (var i = 0; i < building.photos.length; i++) { %>
					<li><img src='<%= root + '/' + building.photos[i].thumb %>' data-large='<%= root + '/' + building.photos[i].large %>'/></li>
				<% } %>
				</ul>
			</div>
		</div>

		<div class='container'>
			<%- building.description %>
			<p><em>Sursa: <%- building.source %></em></p>
		</div>
	</div>

	<% include includes/footer.html %>
</body>
</html>