<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title><%= building.name %> &middot; madeincluj</title>

	<% include includes/head.html %>
</head>
<body>
	<% include includes/header.html %>

	<div id='content'>

		<div class='building-gallery'>
			<div class='building-gallery-view' style='background-image:url(<%= root + '/' + building.photos[0].original %>)'>
				<h1><%= building.name %></h1>
			</div>
		</div>

		<div class='container building-content'>
			<p class='building-credits'>
				<%= building.year || '?' %>, <%= building.architect || '?' %>
			</p>
			<%- building.description %>
			<% for (var i = 0; i < building.photos.length; i++) { %>
				<p><img src='<%= root + '/' + building.photos[i].original %>'/></p>
			<% } %>

			<%
				if (building.source) {
			%>
				<p><em>Sursa: <%= building.source %></em></p>
			<%
				}
			%>
		</div>
	</div>

	<% include includes/footer.html %>
</body>
</html>