<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>madeincluj</title>

	<% include includes/head.html %>
</head>
<body>

	<% include includes/header.html %>
	<div id='content'>

		<div class='container'>

			<h1><a href='..'>Obiective</a><span class='separator'>:</span> Clădiri construite în perioada 1960&ndash;1980</h1>
			<ul class='building-index'>
			<%
				for (var i = 0; i < collection.length; i++) {
			%>
				<li style='background-image: url(<%= collection[i].photos[0].large %>)'>
					<a href='<%= collection[i].slug %>/'><%= collection[i].name %></a>
				</li>
			<%
				}
			%>
			</ul>
		</div>

	</div>

	<% include includes/footer.html %>
</body>
</html>