<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>madeincluj</title>
	<% include includes/head.html %>
</head>
<body>
	<% include includes/header.html %>
	<div id='content'>
		<div class='container'>

			<h1><a href='..'>Colecții</a><span class='separator'>:</span> <%= collection.properties.name %></h1>
			<p><%= collection.properties.description %></p>
			<p><%= collection.features.length %> fotografii.</p>
			<div class='gallery'>
				<% 
					for (var i = 0; i < collection.features.length; i++) {
						var feature = collection.features[i];
				%>
					<a class='gallery-item' href='<%=feature.properties.id%>/'>
						<img src='<%=feature.properties.photo.thumb %>'/>
						<%=feature.properties.description%>, <%=feature.properties.year%>
					</a>
				<% 
					} 
				%>
			</div>
		</div>
	</div>
	<% include includes/footer.html %>
</body>
</html>