<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>madeincluj</title>
	<% include _head.html %>
</head>
<body>
	<% include _header.html %>
	<div id='content'>
		<div class='container'>

			<div class='gallery'>
				<% 
					for (var i = 0; i < collection.features.length; i++) {
						var feature = collection.features[i];
				%>
					<div class='gallery-item'>
						<img src='<%=feature.properties.photo.thumb %>'/>
						<a href='<%=feature.properties.id%>/' target='_blank'><%=feature.properties.description%>, <%=feature.properties.year%></a>
					</div>
				<% 
					} 
				%>
			</div>
		</div>
	</div>
	<% include _footer.html %>
</body>
</html>