<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title><%= street.name.ro || street.name %> &middot; madeincluj</title>

	<% include includes/head.html %>

</head>
<body>

	<% include includes/header.html %>
	<div id='content'>
		<div class='container'>

			<h1><%= street.name.ro ? street.name.ro : street.name %></h1>

			<div class='street-item-description'>
				<%= street.description ? street.description.ro : '' %>
			</div>

			<ul class='street-item-history'>
			<% for (var i = 0; i < street.historical_names.length; i++) { %>
				<li><strong><%= street.historical_names[i].year %></strong> <%= street.historical_names[i].ro %></li>
			<% } %>
			</ul>

		</div>

	</div>
	<% include includes/footer.html %>
</body>
</html>