<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title><%= street.name.ro || street.name %> &middot; madeincluj</title>

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	<script type="text/javascript" src="<%=root%>/js/lib/leaflet.js"></script>
	<script type="text/javascript" src="<%=root%>/js/lib/Leaflet-Google.js"></script>
	<script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
	<script type="text/javascript" src="<%=root%>/js/feature-map.js"></script>

	<% include includes/head.html %>
</head>
<body>

	<% include includes/header.html %>
	<div id='content'>

		<div id='map'></div>

		<div class='container street-card'>

			<h1><a href='..'>Istoria străzilor</a><span class='separator'>:</span> <%= street.name.ro ? street.name.ro : street.name %></h1>
		
			<div class='street-description'>
				<%= street.description ? street.description.ro : '' %>
				<div class='hu'>
					<%= street.description ? street.description.hu : '' %>
				</div>
			</div>

			<div class='street-history'>
			<% for (var i = 0; i < street.historical_names.length; i++) { %>
				<div class='street-history-item'>
					<h3><strong class='street-history-year'><%= street.historical_names[i].year || '?' %></strong> <%= street.historical_names[i].ro %></h3>
				</div>
			<% } %>
			</div>

			<% if (street.photos && street.photos.length) { 
				for (var i = 0; i < street.photos.length; i++) {
			%>
				<img src='<%= street.photos[i].original %>' />
			<%
				}
			}
			%>

		</div>

	</div>

	<% include includes/footer.html %>

	<script type="text/javascript">
		FeatureMap.enable(<%-JSON.stringify(feature)%>);
	</script>
</body>
</html>